<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Menu</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main_menu.css') }}">
</head>
<body>
    <header>
        <div class="logo">Logo</div>
        <div class="menu">
            <h2><a href="{{url_for('biodata_admin')}}">Bidoata admin</a></h2>
            <h2><a href="{{url_for('tambah_dokter')}}">Tambah Dokter</a></h2>
            <h2><a href="{{url_for('daftar_antrian')}}">Daftar Antrian</a></h2>
            <h2>Keluar</h2>
        </div>
    </header>
    <section class="specialization">
        <h1>Cari dokter</h1>
        <div class="doctor-container">
            <div class="doctor-info">
                <h1>Drg Ucup surucup</h1>
                <p>Spesialis: Dokter Gigi</p>
                <p>Hari: Sabtu - Minggu</p>
                <p>Jam: 07.00 - 08.00</p>
                <p>Harga: Rp. 100.000</p>
                <button>Buat Janji</button>
            </div>
        
            <div class="doctor-info">
                <h1>Drg Joko Jokowi</h1>
                <p>Spesialis: Dokter Mata</p>
                <p>Hari: Senin - Kamis</p>
                <p>Jam: 09.00 - 10.00</p>
                <p>Harga: Rp. 150.000</p>
                <button>Buat Janji</button>
            </div>

            <div class="doctor-info">
                <h1>Drg Joko Jokowi</h1>
                <p>Spesialis: Dokter Mata</p>
                <p>Hari: Senin - Kamis</p>
                <p>Jam: 09.00 - 10.00</p>
                <p>Harga: Rp. 150.000</p>
                <button>Buat Janji</button>
            </div>
        
            <div class="doctor-info">
                <h1>Drg Joko Jokowi</h1>
                <p>Spesialis: Dokter Mata</p>
                <p>Hari: Senin - Kamis</p>
                <p>Jam: 09.00 - 10.00</p>
                <p>Harga: Rp. 150.000</p>
                <button>Buat Janji</button>
            </div>
        
            <div class="doctor-info">
                <h1>Drg Joko Jokowi</h1>
                <p>Spesialis: Dokter Mata</p>
                <p>Hari: Senin - Kamis</p>
                <p>Jam: 09.00 - 10.00</p>
                <p>Harga: Rp. 150.000</p>
                <button>Buat Janji</button>
            </div>
        
        
            <!-- Tambahkan info dokter lainnya di sini sesuai kebutuhan -->
        </div>
        
        </div>
    </section>
</body>
</html>
