<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Appointment</title>
    <link rel="stylesheet" type="text/css" href="speasialis.css">
</head>
<body>
    <header>
        <div class="logo">Logo</div>
        <div class="menu">Menu</div>
    </header>
    <section class="hero">
        <h1>Pilih spesialis dokter</h1>
        <div class="doctor-container">
            <button>
                <div class="doctor-info">
                    <span class="doctor-name">Nama Dokter: Dokter A</span>
                    <span class="specialization">Spesialis: Spesialis 1</span>
                    <span class="price">Harga: Rp. 100.000</span>
                </div>
            </button>
            <button>spesialis 2</button>
            <button>spesialis 3</button>
            <button>spesialis 4</button>
            <button>spesialis 5</button>
        </div>
    </section>
</body>
</html>
